body {
    background: linear-gradient(#dcfca5, #dff4bb); 
}

h1 {
    blur: 12px;
    font-size: 2em;
    outline: auto 5px -webkit-focus-ring-color;
}

p {
    color: #333;
}

/* MY COMMENT */